@import "./color.scss";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: $main-color;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Larg */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* End Global Rules */
